* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #333333;
  background: linear-gradient(145deg, rgba(80,80,80,1) 30%, rgba(10,10,10,1) 66%, rgba(79,177,198,1) 79%);
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo-inicial{
  height: 150px;
  border-radius: 10px;
}

.contenedor-principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media (min-width: 950px){

  .horizontal-padding{
      padding-left: 70px;
      padding-right: 70px;
      } 
      .vertical-padding{
          padding-top: 70px;
      padding-bottom: 70px;
}}